# https://editorconfig.org/

root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8
max_line_length = 120
editor.unicodeHighlight.ambiguousCharacters = false

[*.md]
trim_trailing_whitespace = false

[*.js]
trim_trailing_whitespace = true
